<h1>Acerca de nosotros</h1>
<p>TELMEX empresa mexicana, líder en telecomunicaciones, en 2004 expandió sus operaciones a otros países de Latinoamérica, con la finalidad de aprovechar las oportunidades de crecimiento derivadas de cada mercado en el cual se ha incursionado, permitiendo satisfacer las necesidades de nuestros clientes con un servicio integral de alta calidad y diversificando sus servicios.


El 21 de diciembre de 2007 Teléfonos de México S.A.B. de C.V. escinde sus negocios de Latinoamérica y de directorios de páginas amarillas constituyendo con ello a Telmex Internacional, que opera en Argentina, Brasil, Chile, Colombia, Ecuador, Perú y Uruguay, proporcionando una amplia gama de servicios convergentes multimedia de voz, datos, servicios satelitales, transmisión de video, televisión por suscripción --- por cable y satelital, acceso a Internet y soluciones integrales de telecomunicaciones; así como servicios relacionados con directorios de páginas amarillas en México, Estados Unidos de América, Argentina, Colombia y Perú.

</p>
