<h1>Nuestros Servicios</h1>
<p>Nuestra forma de trabajar le asegura una atención personalizada y el mejor producto al mejor precio.

Escuchamos tus inquietudes y estudiamos tus necesidades. Esto nos permitirá elaborar un estudio totalmente pormenorizado y a medida.
Compañías: una vez elaborado este estudio, nos dirigimos a las Compañías con las que trabajamos para buscarte el producto que se adecua a tus necesidades y las coberturas específicas.
Presupuestos: Una vez contrastados los productos en distintas Compañías, se seleccionan tres proyectos según establece la Ley de mediación 26/2006, en los que se recogen las mejores opciones.
Informe: Junto a estas tres opciones, se entrega al Cliente un informe en el que se plasman al detalle los tres proyectos y se le recomienda contratar el que más se ajusta a sus necesidades. El informe incluye la siguiente información:
Que estamos dotados de la autorización administrativa de la DGS para desempeñar la actividad como Correduría.
Que estamos sujetos a la Ley 15/1999 de 13 de diciembre de Protección de Datos de Carácter  Personal.
Que disponemos de un servicio de atención al cliente, que se lleva a cabo desde el Consejo Andaluz de Mediadores de Seguros.</p>
